.logo {
  width: 100px;
  height: auto;
}

.imgProfile {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.iconLeft {
  color: white !important;
}

.footerColor {
  color: #999 !important;
}

.dropdown-menu.show {
  background-color: rgb(33, 37, 41);
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.card {
  border: none !important;
  border-radius: 0 !important;
}
